<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="100" id="navbar-top" style="cursor: pointer;">
    <div class="grid-container">
        <div style="width: 100%; background-color: black; padding-top: 0.5rem; padding-bottom: 0.5rem;">
            <div class="row">
                <div class="col" style="text-align: left;"><img src="./../../../assets/img/icons/1.png" width="180px" alt="">
                </div>
                <div class="col items-menu">
                    <span class="item-menu"> JOGOS EM DESTAQUE </span>
                    <span class="item-menu"> NOTÍCIAS </span>
                    <span class="item-menu"> LOJA </span>
                    <span class="item-menu"> SUPORTE </span>
                    <span class="item-menu"><i class="tim-icons icon-cart"></i></span>
                    <i class="tim-icons icon-single-02"></i>
                </div>
            </div>
        </div>
        <div style="height: 50px; padding-top: 0.5rem; font-size: 18px; font-weight: 600; color: rgb(166, 166, 166);">
            <div class="row">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"><img src="./../../../assets/img/icons/logo.webp" width="180px" alt=""></div>
                <div class="col">GAMES</div>
                <div class="col">COMUNITY</div>
                <div class="col">BLOG</div>
                <div class="col">TALK</div>
                <div class="col">MERCHANDISE</div>
                <div class="col">PERGUNTAS</div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col" style="background-color: white; color: black;">INFORMATIVO</div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</nav>

<div class="wrapper">
    <div class="page-header header-filter">
        <div class="squares square1"></div>
        <div class="squares square2"></div>
        <div class="squares square3"></div>
        <div class="squares square4"></div>
        <div class="squares square5"></div>
        <div class="squares square6"></div>
        <div class="squares square7"></div>
        <div class="container">
            <div class="content-center brand">
                <h1 class="h1-seo"><img src="./../../../assets/img/lis/6U61AeaijglFqEmtZZELSlZs.webp" alt=""></h1>
                <h3 style="font-weight: 300;">
                    Life is Strange bla bla bla bla
                </h3>
            </div>
        </div>
    </div>
    <div style="background-color: black; text-align: center;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 style="margin-top: -1.2rem;font-size: 40px;font-weight: 400;letter-spacing: 0.06px;text-transform: uppercase;">
                        O QUE É LIFE IS STRANGE?</h1>
                    <p style="font-size: 18px;font-family: interstate, sans-serif;font-weight: 300;line-height: 1.5;">
                        Life is Strange é uma aclamada série de jogos de aventura narrativa, vencedora de diversos prêmios. Descubra um universo no qual heróis comuns lidam com poderes sobrenaturais enquanto enfrentam desafios reais, emoções reais e relacionamentos reais. É
                        o nosso mundo... com um toque de mistério. Sejam quais forem as suas escolhas, a experiência seguirá com você para sempre.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="section section-pagination">
            <img class="path" src="assets/img/path4.png" />

            <img class="path path1" src="assets/img/path5.png" />
        </div>
        <div class="section section-typo" style="background-image:  url(./../../../assets/img/lis/3.jpg);">
            <img class="path" src="assets/img/path1.png" />

            <img class="path path1" src="assets/img/path3.png" />

            <div class="container">
                <div class="space-50"></div>
                <div id="images">
                    <h3 class="mb-5">Images</h3>
                    <div class="row">
                        <div class="col-sm-3 col-6">
                            <small class="d-block text-uppercase font-weight-bold mb-4">
                                Image
                            </small>
                            <img alt="Rounded image" class="img-fluid rounded shadow" src="assets/img/ryan.jpg" style="width: 150px;" />
                        </div>
                        <div class="col-sm-3 col-6">
                            <small class="d-block text-uppercase font-weight-bold mb-4">
                                Circle Image
                            </small>
                            <img alt="Circle image" class="img-fluid rounded-circle shadow" src="assets/img/james.jpg" style="width: 150px;" />
                        </div>
                        <div class="col-sm-3 col-6 mt-5 mt-sm-0">
                            <small class="d-block text-uppercase font-weight-bold mb-4">
                                Raised
                            </small>
                            <img alt="Raised image" class="img-fluid rounded shadow-lg" src="assets/img/lora.jpg" style="width: 150px;" />
                        </div>
                        <div class="col-sm-3 col-6 mt-5 mt-sm-0">
                            <small class="d-block text-uppercase font-weight-bold mb-4">
                                Circle Raised
                            </small>
                            <img alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" src="assets/img/mike.jpg" style="width: 150px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-signup" style="background-color: black !important; text-align: center;">
            <div style="display: flex;justify-content: center;">
                <div class="col-lg-4">
                    <div class="card card-register">
                        <div class="card-header" style="text-align: center; ">
                            <h4 class="card-title"> <img src="./../../../assets/img/lis/2.jpg" alt=""></h4>
                        </div>
                        <div class="card-body">
                            <form class="form" style="color:black;">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="tim-icons icon-single-02"> </i>
                                        </div>
                                    </div>
                                    <input class="form-control" placeholder="Full Name" type="text" />
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="tim-icons icon-email-85"> </i>
                                        </div>
                                    </div>
                                    <input class="form-control" placeholder="Email" type="text" />
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="tim-icons icon-lock-circle"> </i>
                                        </div>
                                    </div>
                                    <input class="form-control" placeholder="Password" type="text" />
                                </div>
                                <div class="form-check text-left">
                                    <label class="form-check-label" style="color: black;">
                                        <input class="form-check-input" type="checkbox" />

                                        <span class="form-check-sign"> </span> I agree to the
                                        <a href="javascript:void(0)"> terms and conditions </a> .
                                    </label>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer" style="text-align:center;">
                            <a class="btn btn-lg" href="javascript:void(0)">
                                Get Started
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-typo" style="background-image:  url(./../../../assets/img/lis/2.jpg);">
            <img class="path" src="assets/img/path1.png" />

            <img class="path path1" src="assets/img/path3.png" />

            <div class="container">
                <div class="space-50"></div>
                <div id="images">
                    <h3 class="mb-5">Images</h3>
                    <div class="row">
                        <div class="col-sm-3 col-6">
                            <small class="d-block text-uppercase font-weight-bold mb-4">
                                Image
                            </small>
                            <img alt="Rounded image" class="img-fluid rounded shadow" src="assets/img/ryan.jpg" style="width: 150px;" />
                        </div>
                        <div class="col-sm-3 col-6">
                            <small class="d-block text-uppercase font-weight-bold mb-4">
                                Circle Image
                            </small>
                            <img alt="Circle image" class="img-fluid rounded-circle shadow" src="assets/img/james.jpg" style="width: 150px;" />
                        </div>
                        <div class="col-sm-3 col-6 mt-5 mt-sm-0">
                            <small class="d-block text-uppercase font-weight-bold mb-4">
                                Raised
                            </small>
                            <img alt="Raised image" class="img-fluid rounded shadow-lg" src="assets/img/lora.jpg" style="width: 150px;" />
                        </div>
                        <div class="col-sm-3 col-6 mt-5 mt-sm-0">
                            <small class="d-block text-uppercase font-weight-bold mb-4">
                                Circle Raised
                            </small>
                            <img alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" src="assets/img/mike.jpg" style="width: 150px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer" style="background-color: black !important; font-family: interstate, sans-serif;">
        <app-footer></app-footer>
    </footer>
</div>