.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 2;
}

.grid-container>div {
    text-align: center;
}

.col-menu {
    width: 50px !important;
}

.items-menu {
    color: rgb(166, 166, 166);
    font-weight: 400;
    font-size: 16px;
}

.item-menu {
    margin-right: 2rem;
}

.sobre {
    background-color: rgba(0, 0, 0, 0.92) !important;
}